.notea-aboutus {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
}

.notea-sc > h2 {
    font-family: "Carrois Gothic", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-top: 1rem;
    margin-bottom: 6px;
}

.notea-sc > span {
    line-height: 1.4rem;
    color: #161616;
    font-size: 14px;
    font-style: italic;
}

.notea-topics {
    margin-top: 1rem;
}

.notea-topic {
    margin-top: 10px;
    font-family: "Carrois Gothic", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}